<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ppy.nfclib">

    <uses-permission android:name="android.permission.NFC"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".AndroidTestActivity"/>
    </application>

</manifest>